<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
  <title>{{ page.title | default: site.title }}</title>
</head>
<body>

  <header class="custom-header">
  <h1>{{ page.title | default: site.title }}</h1>
  <p class="subtitle">{{ page.description | default: site.description }}</p>
</header>

  <main id="content" class="main-content" role="main">
    
    <nav class="sidebar-nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/topic">Topic</a></li>
        <li><a href="/methodology">Methodology</a></li>
        <li><a href="/queries">Queries</a></li>
        <li><a href="/llms">LLMs</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/challenges">Challenges</a></li>
      </ul>
    </nav>

    <div class="content-area">
      {{ content }}
    </div>

  </main>
</body>
</html>
